<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_stage_select_mugs_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_stage_select_mugs_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{2,40},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_stage_select_mugs_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{2,78},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_stage_select_mugs_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{78,78},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_stage_select_mugs_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{40,2},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_stage_select_mugs_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{78,2},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_stage_select_mugs_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{40,40},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_stage_select_mugs_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{40,78},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_stage_select_mugs_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{78,40},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spr_stage_select_mugs.pvr.ccz</string>
            <key>size</key>
            <string>{116,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fd8ff6b0163dec7ff69058c7bdab251:2753e4b0b454dd0521ce6036d88db7d6:ebba621fad7fd8e0bf5178c03476ea5a$</string>
            <key>textureFileName</key>
            <string>spr_stage_select_mugs.pvr.ccz</string>
        </dict>
    </dict>
</plist>
