<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump/newnightboss_jump_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{74,128},{64,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump/newnightboss_jump_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{145,128},{64,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump/newnightboss_jump_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{73,194},{64,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand/newnightboss_stand_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{63,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,71}</string>
                <key>textureRect</key>
                <string>{{75,63},{63,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>standshoot/newnightboss_standshoot_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{2,189},{64,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>standshoot/newnightboss_standshoot_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{70,260},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshoot/newnightboss_standshoot_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{152,330},{74,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshoot/newnightboss_standshoot_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{70,260},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshootup/newnightboss_standshootup_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,69}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{146,63},{63,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>standshootup/newnightboss_standshootup_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{146,261},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshootup/newnightboss_standshootup_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{2,329},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshootup/newnightboss_standshootup_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{146,261},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/newnightboss_walk_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{74,128},{64,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk/newnightboss_walk_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{2,255},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/newnightboss_walk_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{79,330},{68,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk/newnightboss_walk_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{2,62},{60,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk/newnightboss_walk_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{2,2},{58,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkshoot/newnightboss_walkshoot_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{63,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{2,124},{63,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkshoot/newnightboss_walkshoot_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{75,2},{59,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkshoot/newnightboss_walkshoot_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{145,2},{59,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkshoot/newnightboss_walkshoot_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{148,194},{65,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>browners-newnightboss.pvr.ccz</string>
            <key>size</key>
            <string>{228,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98bd04e31220666a104e89bcb2fce01:741b465cc80213410747b2e050cf8c59:b80b1e6dfdba0708122601d031b821e4$</string>
            <key>textureFileName</key>
            <string>browners-newnightboss.pvr.ccz</string>
        </dict>
    </dict>
</plist>
