<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump/newnightboss_jump_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{150,147},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump/newnightboss_jump_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{147,288},{64,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump/newnightboss_jump_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{2,142},{64,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand/newnightboss_stand_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,71}</string>
                <key>textureRect</key>
                <string>{{2,337},{63,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>standshoot/newnightboss_standshoot_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{150,147},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshoot/newnightboss_standshoot_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{79,2},{74,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshoot/newnightboss_standshoot_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{2,71},{74,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshoot/newnightboss_standshoot_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{79,2},{74,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshootup/newnightboss_standshootup_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,69}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{73,337},{63,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>standshootup/newnightboss_standshootup_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{78,73},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshootup/newnightboss_standshootup_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{2,2},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>standshootup/newnightboss_standshootup_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{78,73},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/newnightboss_walk_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{150,147},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/newnightboss_walk_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{2,208},{66,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk/newnightboss_walk_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{77,142},{68,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walk/newnightboss_walk_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{60,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{153,74},{60,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/newnightboss_walk_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{75,212},{58,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkshoot/newnightboss_walkshoot_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{63,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{75,272},{63,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkshoot/newnightboss_walkshoot_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{59,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{2,276},{59,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkshoot/newnightboss_walkshoot_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{155,2},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkshoot/newnightboss_walkshoot_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,70}</string>
                <key>textureRect</key>
                <string>{{148,218},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>browners-newnightboss.pvr.ccz</string>
            <key>size</key>
            <string>{216,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f92dedc878f7507b57793a97dde1221:86654c9b07ac4a163b044450d93064a5:b80b1e6dfdba0708122601d031b821e4$</string>
            <key>textureFileName</key>
            <string>browners-newnightboss.pvr.ccz</string>
        </dict>
    </dict>
</plist>
