<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horizontal_door_idle_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{2,2},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal_door_lock_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{112,2},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal_door_lock_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{92,2},{18,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal_door_lock_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{52,2},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal_door_lock_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{2,2},{48,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>horizontal_door.pvr.ccz</string>
            <key>size</key>
            <string>{120,20}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d12298a3e6e0478c93bbeedb0fff128:92629564e600e4bdcc5473401f3d4803:823d93c93a6fbee5b11c9cf78408cbce$</string>
            <key>textureFileName</key>
            <string>horizontal_door.pvr.ccz</string>
        </dict>
    </dict>
</plist>
