<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_worm_attack_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{8,7}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{350,17},{8,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{350,2},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{86,2},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{2,2},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{2,2},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{30,2},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{110,2},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{134,2},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{158,2},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_17</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{134,2},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_18</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{110,2},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_19</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{30,2},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{325,2},{26,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_worm_attack_20</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{230,2},{26,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_worm_attack_21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{58,2},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_22</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{265,2},{26,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_worm_attack_23</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{298,2},{26,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_worm_attack_24</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{325,2},{26,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_worm_attack_25</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{350,2},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{298,2},{26,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_worm_attack_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{265,2},{26,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>robot_worm_attack_5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{58,2},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{2,2},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{182,2},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{86,2},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_attack_9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{206,2},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robot_worm_still_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{8,7}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{350,17},{8,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>robot_worm.pvr.ccz</string>
            <key>size</key>
            <string>{364,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f2d329e5ec8df6d4dd67554104eff2:f2270422f3f18ae35aa07d6959c545a0:47eaa4c260f33a2f2b83f1482631d42e$</string>
            <key>textureFileName</key>
            <string>robot_worm.pvr.ccz</string>
        </dict>
    </dict>
</plist>
