<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abakura_0</key>
            <dict>
                <key>frame</key>
                <string>{{775,109},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>background_0</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>city_0</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{256,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>greentwip_0</key>
            <dict>
                <key>frame</key>
                <string>{{775,151},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>logo_0</key>
            <dict>
                <key>frame</key>
                <string>{{775,1},{106,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{106,59}}</string>
                <key>sourceSize</key>
                <string>{114,65}</string>
            </dict>
            <key>silhouette_0</key>
            <dict>
                <key>frame</key>
                <string>{{775,180},{28,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{28,37}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>title_screen_0</key>
            <dict>
                <key>frame</key>
                <string>{{517,1},{256,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title_screen.pvr.ccz</string>
            <key>size</key>
            <string>{835,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133a32186520f609cebec60f9d7c9321:43bf914f2cef5b35dd3aeb70e5e3fe51:1ccd6a2c4507498315b47403dffcde30$</string>
            <key>textureFileName</key>
            <string>title_screen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
