<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tremor_body_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,49}</string>
                <key>spriteSourceSize</key>
                <string>{85,49}</string>
                <key>textureRect</key>
                <string>{{124,140},{85,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tremor_body_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,49}</string>
                <key>spriteSourceSize</key>
                <string>{85,49}</string>
                <key>textureRect</key>
                <string>{{175,140},{85,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tremor_head_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{2,140},{120,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_head_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{120,136}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{262,2},{120,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_head_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_head_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{132,2},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_tail_a_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,28}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{124,227},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_tail_a_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{226,201},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_tail_a_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{247,201},{25,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tremor_tail_a_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,59}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{226,140},{47,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_tail_b_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,59}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{226,140},{47,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_tail_b_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,59}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{275,140},{47,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_tail_c_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,59}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{226,140},{47,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_tail_c_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{25,39}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{247,201},{25,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tremor_tail_c_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{226,201},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_tail_c_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,28}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{124,227},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tremor_tail_idle_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,28}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{124,227},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tremor.pvr.ccz</string>
            <key>size</key>
            <string>{384,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66a78a371555b921f26d8686cbe71205:1af839f8d9282c7ff529fa95e14960ad:24bfb9133cb71fc1622a0f8705d809d7$</string>
            <key>textureFileName</key>
            <string>tremor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
