<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boomer_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{303,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomer_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{321,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_tank_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{339,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_tank_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{357,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ex_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{2,2},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ex_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{23,2},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ex_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{375,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ex_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{393,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{267,2},{17,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exit_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{285,2},{17,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>extreme_boot_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{107,2},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extreme_boot_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{127,2},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extreme_chest_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{147,2},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extreme_chest_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{167,2},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extreme_fist_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{187,2},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extreme_fist_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{207,2},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extreme_helmet_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{227,2},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>extreme_helmet_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{247,2},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freezer_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{411,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freezer_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{429,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuzzy_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{447,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fuzzy_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{465,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helmet_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{44,2},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helmet_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{65,2},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helmet_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{483,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helmet_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{501,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>life_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{86,2},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>life_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{86,2},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_tank_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{519,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_tank_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{537,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>military_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{555,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>military_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{573,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>night_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{591,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>night_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{609,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheriff_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{627,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheriff_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{645,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{663,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{681,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>torch_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{699,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>torch_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{717,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{735,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vine_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{753,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>violet_weapon_interruptor_0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{483,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>violet_weapon_interruptor_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{501,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pause_interruptor.pvr.ccz</string>
            <key>size</key>
            <string>{772,21}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc0b0dbe5574e38f25e39b23a75f1264:f7ae9541bf9e624377cfb479bd23b794:f5e71636a9eb2279c25a50e4222ed33f$</string>
            <key>textureFileName</key>
            <string>pause_interruptor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
